body { 
	background: url("../images/turntable-music.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.play-btn {
	margin: 100%;
	background-color: black;
	color: #fff;
}

iframe .info #track-name{
	display: none; !important;
}