body { 
	background: url("../images/spotify.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.play-btn {
	margin-top: 100%;
	background-color: black;
	color: green;
}