<div class="row header" ng-if="currentUser">
    <div class="col-lg-8">
        <img src="assets/images/logo.png">
    </div>
    <div class="col-lg-4">
        <iframe src="{{currentUserUri}}" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
    </div>
</div>
<div class="row share-bt">
            <button class="btn btn-medium font-bold"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="send"
                    socialshare-via="145634995501895"
                    socialshare-url="http://spotyplay.local/play"
                    socialshare-redirect-uri="http://google.fr"
                    socialshare-popup-height="500"
                    socialshare-popup-width="800"
                    socialshare-trigger="click">
                <i class="fa fa-facebook"></i> More fun with a friend
            </button>
</div>
<div ng-show="isPlaying">
        <timer id="mytimer" interval="1000" countdown="150">{{countdown}}</timer>
    <div class="divbody">
            <div class="score"><span>Score : {{score}}</span></div>
            <iframe ng-src="{{playUri}}"
                    width="300" height="380" frameborder="0" allowtransparency="true">
            </iframe>
            <div ng-repeat="choice in choices | orderBy:random " class="choice">
                <span ng-click="checkChoice(choice.track.id)">{{choice.track.name}}</span>
            </div>
    </div>
</div>
<categories></categories>

