<div ng-include="'GameOverModal.html'"></div>
<div ng-include="'FinishGame.html'"></div>
<div class="row header" ng-if="currentUser">
    <div class="col-lg-8">
        <img src="assets/images/logo.png">
    </div>
    <div class="col-lg-4">
        <iframe src="{{currentUserUri}}" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
    </div>
</div>
<div class="sidebar" ng-show="isPlaying">
    <div ng-repeat = "ranking in rankings">
        <span>{{ranking.Pseudo}}, Score : {{ranking.Score}}, Durée : {{ranking.Duration}}</span>
    </div>
</div>
<div class="content-page" ng-show="isPlaying"   >
    <h3 style="color: #fff;">Score : {{score}}</h3>
    <timer id="mytimer" interval="1000" countdown="150">{{countdown}}</timer>
<div class="row share-bt">
            <button class="btn btn-medium font-bold"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="send"
                    socialshare-via="145634995501895"
                    socialshare-url="http://spotyplay.local/play"
                    socialshare-redirect-uri="http://google.fr"
                    socialshare-popup-height="500"
                    socialshare-popup-width="800"
                    socialshare-trigger="click">
                <i class="fa fa-facebook"></i> More fun with a friend
            </button>
</div>
<div ng-show="isPlaying">
            <video hidden controls autoplay name="media" ng-src="{{song.track.preview_url}}"></video>

            <div class="col-md-6">
                 <button id="response" type="button" class="btn btn-success btn-block" ng-click="checkChoice(choices[0].track.id)">{{choices[0].track.name}}</button>
                  <button id="response" type="button" class="btn btn-success btn-block" ng-click="checkChoice(choices[1].track.id)">{{choices[1].track.name}}</button>
            </div>    
            <div class="col-md-6">
             <button id="response" type="button" class="btn btn-success btn-block" ng-click="checkChoice(choices[2].track.id)">{{choices[2].track.name}}</button>
              <button id="response" type="button" class="btn btn-success btn-block" ng-click="checkChoice(choices[3].track.id)">{{choices[3].track.name}}</button>
            </div>    
        
</div>
</div>
<categories></categories>

